:root {
    --main-radius:5px;
    --main-padding:5px;
}


.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 2fr 2fr 2fr 0.5fr;
    grid-template-areas: 
        "nav nav nav nav nav"
        "sidebar main main main main"
        "sidebar content1 content2 content3 addbar"
        "sidebar content4 content5 content6 addbar"
        "footer footer footer footer footer";
    grid-gap: 0.2rem;
    font-family: "Comfortaa", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
}

nav {
    background-color: #053a3d ;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

/* #burger {
    width: 7%;
    height: 7vw;
    position: absolute;
    margin-right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: .5s ease-in-out;
    -moz-transform: .5s ease-in-out;
    -o-transform: .5s ease-in-out;
    transform: .5s ease-in-out;
}

#burger span {
    display: block;
    position: absolute;
    height: 1vw;
    width: 100%;
    background: #aac6c6;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: .25s ease-in-out;
    -moz-transform: .25s ease-in-out;
    -o-transform: .25s ease-in-out;
    transform: .25s ease-in-out;
}

#burger span:nth-child(1) {
    top: 0px;
}
#burger span:nth-child(2), 
#burger span:nth-child(3) {
    top: 25px;
}

#burger span:nth-child(4) {
    top: 50px;
}

#burger.open {
    position: fixed;
}

#burger.open span {
    background: #52e1e2;
}

#burger.open span:nth-child(1) {
    top: 25px;
    width: 0%;
    left: 50%;
}

#burger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#burger.open span:nth-child(3) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#burger.open span:nth-child(4) {
    top: 50px;
    width: 0%;
    left: 50%;
} */

main { 
    background-color: #A5F6E1;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#sidebar {
    background-color: #A5BAF6;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content1 {
    background-color: #A5AAF6;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

a {
    position: relative;
    padding: 20px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    overflow: hidden;
    border-radius: 40px;
}

a span {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
}

a liquid {
    position: absolute;
    top: -80px;
    left: 0px;
    width: 200px;
    height: 200px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgba =(0, 0, 0, .5);
    transition: .5s;
}


a .liquid::after, 
a .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}

a .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: 5s linear;
}

a .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
}

a:hover .liquid {
    top: -120px;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -70%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}



#content2 {
    background-color: #F2A5F6;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content3 {
    background-color: #A5EDF6;
    grid-area:  content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content4 {
    background-color: #b86aa7;
    grid-area: content4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content5 {
    background-color: #dddb79;
    grid-area: content5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content6 {
    background-color: #94c474;
    grid-area: content6;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#addbar {
    background-color: #6dd9e7;
    grid-area: addbar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

footer {
    background-color: #52A283;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

@media only screen and (max-width: 550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas:
           "nav"
           "sidebar"
           "main"
           "addbar"
           "content1"
           "content2"
           "content3"
           "content4"
           "content5"
           "content6"
           "footer";
    }
}